* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  /* background: #f4f4f4; */
}

.main {
  width: 800px;
  margin: 0 auto;
  background: #fff;
}

.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: block;
  width: 86px;
  height: auto;
}

.switch {
  display: flex;
  align-items: center;
  font-size: 15px;
  user-select: none;
  cursor: pointer;
}

.switch-icon {
  margin-left: 8px;
  width: 18px;
  height: auto;
}
.content {
  padding-top: 80px;
  line-height: 2;
}
.content  h1 {
  text-align: center;
}
.content p {
  text-align: center;
}

.input-wrap {
  width: 600px;
  margin: 40px auto 0;
  display: flex;
  align-items: center;
}
.input {
  min-width: 0;
  flex: 1;  
  height: 54px;
  border: 2px solid #06A8FF;
  border-radius: 8px 0 0 8px;
  padding: 10px 15px;
  box-sizing: border-box;
  line-height: 30px;
  font-size: 16px;
}
.input:focus {
  outline: none;
}
.sub-btn {
  width: 140px;
  background: #06A8FF;
  border: 2px solid #06A8FF;
  height: 54px;
  border-radius: 0 8px 8px 0;
  font-size: 22px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  cursor: pointer;
}

.btn-icon {
  display: block;
  width: 22px;
  margin-right: 8px;
}

.alert {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  font-size: 15px;
  z-index: 1000;
  padding: 20px 15px;
  border-radius: 8px;
  line-height: 22px;
}